<a href="https://colab.research.google.com/github/Upasna22/Data-Cleaning/blob/master/Kaggle_Avocado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot
import sklearn
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from google.colab import files
uploaded = files.upload()

Saving avocado.csv to avocado (1).csv

In [16]:
data = pd.read_csv("avocado.csv")
data.head(5)

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

In [25]:
#data = data.drop(['Unnamed: 0'], axis = 1)
data.head(5)

         Date  AveragePrice  Total Volume  ...          type  year  region
0  2015-12-27          1.33      64236.62  ...  conventional  2015  Albany
1  2015-12-20          1.35      54876.98  ...  conventional  2015  Albany
2  2015-12-13          0.93     118220.22  ...  conventional  2015  Albany
3  2015-12-06          1.08      78992.15  ...  conventional  2015  Albany
4  2015-11-29          1.28      51039.60  ...  conventional  2015  Albany

[5 rows x 13 columns]

In [39]:
data = pd.get_dummies(data, drop_first = True)
y = data['AveragePrice']
X = data.drop('AveragePrice', axis=1)
#data.head(50)
#print(X)
#print(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
print(X_test)

       Total Volume        4046  ...  region_West  region_WestTexNewMexico
8452     1022130.10   565529.68  ...            0                        1
12662       1181.37       37.91  ...            0                        0
12578      17691.72    14012.54  ...            0                        0
14194      45009.96     1082.01  ...            0                        0
9034     4302561.08  2378306.98  ...            0                        0
...             ...         ...  ...          ...                      ...
646       703672.69   138942.76  ...            0                        0
2868      408314.87   162367.80  ...            0                        0
6155      165260.84    72722.59  ...            0                        0
2663    29216198.15  8828340.53  ...            0                        0
2216      701099.41   167532.68  ...            0                        0

[1825 rows x 234 columns]

In [46]:
LR = LinearRegression()
LM_fit = LR.fit(X_train, y_train)
LM_predict = LM_fit.predict(X_test)
print(LM_predict)
print('Linear Regression Mean Squaared Error', mean_squared_error(y_test, LM_predict))

[1.16150339 1.6259642  1.50702817 ... 1.1955431  1.1161305  1.50677174]
Linear Regression Mean Squaared Error 0.049928659446576075